/*classes gerais*/
.col-wide {
  grid-column: 1/-1;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Vollkorn", Georgia, serif;
}

body {
  background-color: white;
  font-family: "Vollkorn", Georgia, serif;
}

img {
  width: 100%;
  display: block;
  border-radius: 5px;
}

/*GRID GERAL*/
.structure {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas: "header header header" "sidenav content ads" "footer footer footer";
}
.structure .header {
  grid-area: header;
  background: linear-gradient(135deg, #8844ee, #B07DFB);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.structure .header .logo {
  max-width: fit-content;
}
.structure .header .logo img {
  width: 200px;
}
.structure .header nav ul {
  display: flex;
}
.structure .header nav a {
  display: block;
  padding: 10px;
  font-size: 18px;
  color: white;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.structure .header nav a:hover {
  background: rgba(0, 0, 0, 0.5);
}
.structure .header nav li:nth-child(2) {
  margin: 0 30px;
}
.structure .sidenav {
  grid-area: sidenav;
  background: #fafbfc;
  padding: 30px;
}
.structure .sidenav li a {
  display: block;
  min-width: 60px;
  max-width: 100px;
  margin: 0 auto 30px auto;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  transition: 0.1s ease-out;
}
.structure .sidenav li a:hover {
  background-color: #B07dfb;
}
.structure .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  grid-area: content;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
}
.structure .content .title {
  color: #B07dfb;
}
.structure .content .title h1 {
  font-size: 3.75em;
  line-height: 1;
  font-weight: 700;
}
.structure .content .title span {
  font-size: 0.875em;
  font-style: italic;
}
.structure .content .caracteristics {
  display: flex;
  align-items: flex-start;
}
.structure .content .caracteristics div {
  width: 80px;
  text-align: center;
  background: linear-gradient(135deg, #8844ee, #B07DFB);
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  border-radius: 5px;
  position: relative;
}
.structure .content .caracteristics div .number {
  font-size: 3em;
  color: #B07DFB;
}
.structure .content .caracteristics div .label {
  display: block;
  background-color: white;
  border-radius: 0 0 5px 5px;
  position: relative;
  top: 2px;
}
.structure .content .caracteristics div:nth-child(2) {
  margin-left: 30px;
}
.structure .content .wolf-one {
  grid-row: span 2;
  align-self: end;
}
.structure .content .highlight {
  font-size: 0.875em;
  color: #B07DFB;
  max-width: 16em;
}
.structure .content .wolf-two {
  align-self: end;
}
.structure .content .citation {
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
  background: linear-gradient(135deg, #8844ee, #B07DFB);
}
.structure .content .citation p {
  font-size: 1.5em;
  color: white;
  text-align: center;
  font-style: italic;
  max-width: 500px;
  margin: 0 auto;
}
.structure .content .atributes {
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
  background: linear-gradient(135deg, #8844ee, #B07DFB);
  align-self: start;
}
.structure .content .atributes li {
  color: white;
  font-family: Courier, monospace;
  font-size: 1.125em;
  padding: 15px;
}
.structure .content .atributes li {
  border-bottom: solid 2px #B07DFB;
}
.structure .content .atributes li:nth-child(6) {
  border-bottom: none;
}
.structure .content p {
  font-size: 1.2em;
  line-height: 1.6;
  letter-spacing: 0.005em;
  color: rgba(0, 0, 0, 0.7);
}
.structure .content .info p:nth-child(2) {
  margin-top: 30px;
}
.structure .ads {
  grid-area: ads;
  background: #fafbfc;
  display: grid;
  align-content: start;
  padding: 30px;
  gap: 30px;
}
.structure .footer {
  grid-area: footer;
  background: linear-gradient(135deg, #8844ee, #B07DFB);
}
.structure .footer p {
  color: white;
  text-align: center;
  padding: 30px;
}

@media (max-width: 1200px) {
  .structure {
    background: red;
    grid-template-areas: "header header header" "sidenav content content" "sidenav ads ads" "footer footer footer";
  }
}
@media (max-width: 768px) {
  .structure {
    background: green;
    grid-template-columns: 100%;
    grid-template-areas: "header " "sidenav" "content" "ads" "footer";
  }
  .structure .header {
    grid-template-columns: auto;
  }
  .structure .header .logo {
    margin-bottom: 30px;
  }
  .structure .header nav a {
    font-size: 1em;
  }
  .structure .sidenav {
    padding: 0 30px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .structure .sidenav ul {
    display: flex;
  }
  .structure .sidenav ul li {
    flex: 1 0 60px;
  }
  .structure .sidenav ul li a {
    margin: 30px 30px 30px 0;
  }
}
@media (max-width: 600px) {
  .structure .content {
    background: yellow;
    grid-template-columns: auto;
  }
}

/*# sourceMappingURL=style.css.map */
