/*classes gerais*/
.col-wide {
    grid-column: 1 / -1;
}
* {
padding: 0;
margin: 0;
list-style: none;
text-decoration: none;
font-family: "Vollkorn", Georgia, serif;
}
body{
    background-color: white;
    font-family: "Vollkorn", Georgia, serif;
}
img {
    width: 100%;
    display: block;
    border-radius: 5px;
}

/*GRID GERAL*/

.structure {
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 3fr 300px;
    grid-template-areas: 
    "header header header"
    "sidenav content ads"
    "footer footer footer"
    ;

    .header {
        grid-area: header;
        background: linear-gradient(135deg, #8844ee, #B07DFB);
        padding: 30px;
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;

        .logo {
            max-width: fit-content;
            img {
                width: 200px;
            }
        }
        nav {
            ul{
                display: flex;
            }
            a {
            display: block;
            padding: 10px;
            font-size: 18px;
            color: white;
            background: rgba(0,0,0, 0.1);
            border-radius: 5px;
            }
            a:hover {
                background: rgba(0,0,0, 0.5);
            }
            li:nth-child(2){
                margin: 0 30px;
              }
        }
        
    }
    .sidenav {
        grid-area: sidenav;
        background: #fafbfc;
        padding: 30px;
        li{
            a {
                display: block;
                min-width: 60px;
                max-width: 100px;
                margin: 0 auto 30px auto;
                background-color: white;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
                transition: 0.1s ease-out;
            }
            a:hover {
                background-color: #B07dfb;
            }
        }
    }


    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        grid-area: content;
        max-width: 900px;
        margin: 0 auto;
        padding: 30px;

        .title {
            color: #B07dfb;
            h1 {
                font-size: 3.75em;
                line-height: 1;
                font-weight: 700;
            }
            span {
                font-size: 0.875em;
                font-style: italic;
            }
        }
        .caracteristics {
            display: flex;
            align-items: flex-start;
            div {
                width: 80px;
                text-align: center;
                background: linear-gradient(135deg, #8844ee, #B07DFB);
                box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
                border-radius: 5px;
                position: relative;
             
                .number {  
                    font-size: 3em;
                    color:#B07DFB;
                }
                .label {
                    display: block;
                    background-color: white;
                    border-radius: 0 0 5px 5px;
                    position: relative;
                    top: 2px;
                }
            }
                div:nth-child(2) {
                    margin-left: 30px;
                }
        }
        .wolf-one {
            grid-row: span 2;
            align-self: end;
        }
        .wolf-two {
            align-self: end;
        }
        p {
            font-size: 1.2em;
            line-height: 1.6;
            letter-spacing: 0.005em;
            color: rgba(0,0,0, .7);
        }
        .info p:nth-child(2) {
            margin-top: 30px;
        }

    }

    .ads {
        grid-area: ads;
        background: #fafbfc;
        display: grid;
        align-content:start;
        padding: 30px;
        gap: 30px;

    }
    .footer {
        grid-area: footer;
        background: linear-gradient(135deg, #8844ee, #B07DFB);
        p {
            color: white;
            text-align: center;
            padding: 30px;
        }
    }
}

